<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
       <!--Database Configuration-->
      <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/habitat</property>
      <property name="hibernate.connection.username">root</property>
      <property name="hibernate.connection.password"/>

      <!--SQL output to console-->
      <property name="show_sql">true</property>
      <property name="format_sql">true</property>

      <!--thread context-->
      <property name="hibernate.current_session_context_class">thread</property>

      <!--Connection Pooling-->
      <property name="hibernate.c3p0.min_size">5</property>
      <property name="hibernate.c3p0.max_size">20</property>
      <property name="hibernate.c3p0.timeout">300</property>
      <property name="hibernate.c3p0.max_statements">50</property>
      <property name="hibernate.c3p0.idle_test_period">3000</property>

       <!--Mapping Entity Classes-->
      <mapping class="org.habitatmclean.entity.Actor" />
      <mapping class="org.habitatmclean.entity.Address" />
      <mapping class="org.habitatmclean.entity.Class" />
      <mapping class="org.habitatmclean.entity.ConstructionStatus" />
      <mapping class="org.habitatmclean.entity.Family" />
      <mapping class="org.habitatmclean.entity.House" />
      <mapping class="org.habitatmclean.entity.HouseContribution" />
      <mapping class="org.habitatmclean.entity.HouseStyle" />
      <mapping class="org.habitatmclean.entity.Log" />
      <mapping class="org.habitatmclean.entity.Milestone" />
      <mapping class="org.habitatmclean.entity.Organization" />
      <mapping class="org.habitatmclean.entity.Person" />
      <mapping class="org.habitatmclean.entity.Property" />
      <mapping class="org.habitatmclean.entity.PropertyStatus" />
      <mapping class="org.habitatmclean.entity.RelationType" />
      <mapping class="org.habitatmclean.entity.Zone" />
   </session-factory>

</hibernate-configuration>