.sidenav {
    height: 100%;
    margin-top: 125px;
    margin-bottom: 100px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #a5a5a5;
    overflow-x: hidden;
    overflow-y:auto;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;

    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 75px;
}

#site {
    transition: margin-left .5s;
    padding: 16px;
}

#open {
    position: fixed;
    display:block;
    float:left;
    padding-top: 200px;
    padding-bottom: 0;
}

#colFilter {
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
    display:block;
    float: left;
    padding-right: 40px;
}

#filterButton {
    margin-top: 10px;
    margin-left: 20px;
    width: 80%;
    display:block;
    float: left;
}

form.filter-box input.form-control { /* The drawer search bar */
    width: 80%;
    height: 45px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    /*padding: 3px 0px;*/
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}