#left
{
    width: 250px;
    position: absolute;
    right: 5%;
    padding-top: 75px;
    padding-bottom: 0px;
}

#list
{
    float:right;
    padding-top: 60px;
    padding-bottom: 0px;
}

#nav
{
    top: 0;
    left: 0;
    /*     bottom: 100px; */
    background-color: rgba(1,174,216,1);
    /*     padding-bottom: 0px; */
    width: 100%;
    z-index: 0;
    flex-shrink: 0;
}
/* navbar buttons */
nav div div form button {
    margin-bottom: 0px;
}

#list form button
{
    background-color: rgba(1,174,216,1);
    border: none;
    padding:8px 30px;
    color: white;
    font-size: 18px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#list form button a
{
    color: white;
    text-decoration: none;
}

#list form button:hover
{
    background-color: #01b7ff;
    color: white;
}

#footer
{
    left: 0;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    background-color: rgba(1,174,216,1);
    z-index: 2;
    /*position: fixed;*/ /* uncomment to break the sticky footer */
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
#footer-list {
    width: 60%;
    float: right;
    list-style: none;
    margin: 0;
}

#footer-list li {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    padding-right: 50px;
}
#searchForm {
    float: right;
    padding-top: 60px;
    padding-bottom: 0px;
}
.body {
    margin: 50px;
}
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}