#left
{
    float:right;
    padding-top: 60px;
    padding-botton: none;
}

#nav
{
    background-color: rgba(1,174,216,1);
}

#collapse
{
    height: 115px;
}

#list
{
    padding-top: 75px;
    padding-botton: 75px;
}

#list button
{
    background-color: rgba(1,174,216,1);
    border: none;
    padding:8px 30px;
    color: white;
    font-size: 18px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#list button a
{
    color: white;
    text-decoration: none;
}

#list button:hover
{
    background-color: #01b7ff;
    color: white;
}

#search-button
{
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    left: -22px;
    top: 3px;
    color: rgba(0, 0, 0, 0.33);
}

#footer
{
    width: 100%;
    overflow: hidden;
    bottom: 0;
    position: fixed;
    color: #FFFFFF;
    background-color: rgba(1,174,216,1);
}

#footer-list {
    width: 60%;
    float: right;
    list-style: none;
}

#footer-list li {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
    padding-right: 50px;
}
/* TODO this looks terrible */
/*.table, th, td{*/
    /*display: inline;*/
    /*margin:10px;*/
/*}*/

/*.table th, td*/
/*{*/
    /*border: 5px solid black;*/
/*}*/

#addButton{
    /*float:left;*/
}

#editButton{
    margin:5px;
}

#deleteButton{
    margin:5px;
}

.selected {
    background-color:  rgba(1,174,216,1);;
    color: #FFF;
}

