#list
{
    float:right;
    padding-top: 60px;
    padding-botton: 0px;
}

#nav
{
    /*position:fixed; */
    background-color: rgba(1,174,216,1);
    padding-bottom: 0px;
}
/* navbar buttons */
nav div div form button {
    margin-bottom: 0px;
}

#list form button
{
    background-color: rgba(1,174,216,1);
    border: none;
    padding:8px 30px;
    color: white;
    font-size: 18px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#list form button a
{
    color: white;
    text-decoration: none;
}

#list form button:hover
{
    background-color: #01b7ff;
    color: white;
}

#footer
{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    background-color: rgba(1,174,216,1);
}
#footer-list {
    width: 60%;
    float: right;
    list-style: none;
}

#footer-list li {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
    padding-right: 50px;
}

.body {
    margin: 50px;
}
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}
