.searchForm {
    display:inline;
    width: 150%;
}
form.filter-box input.form-control { /* The drawer search bar */
    /*max-width:80%;*/
    width: 80%;
    height: 45px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 3px 0px;
    /*margin: 10px;*/
}

/*Change text in autofill textbox
    especially important for clearing modals
 */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
/*!* each search box *!*/
/*.searchForm {*/
    /*display:inline;*/
    /*margin-left: 10px;*/
/*}*/
/*form.filter-box input.form-control {*/
    /*max-width:100%;*/
/*}*/
#table {
    margin-top: 150px; /* Originally no margin. */
    margin-bottom: 20px;
    width: 93%;
    margin-left: 20px;
    margin-right: auto;
    overflow-x: scroll;
    overflow-y: scroll;
    table-layout: fixed;
    float: left;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
/* the table headers */
thead {
    text-transform: capitalize;
    text-decoration: none;
}
td {
    vertical-align: middle !important;
    padding: .5rem !important;
}
#reportButton {
    /*margin: 10px;*/
    margin-top: 30px;
    margin-left: 20px;
    width: 80%;
    /*text-align: left;*/
    display:block;
    float: left;
    padding-right: 40px;
}
#addButton {
    margin-top: 70px;
    margin-left: 20px;
    /*margin-right: 4px;*/
    /*margin: 10px;*/
    width: 80%;
    display:block;
    float: left;
}
.btn-delete, .btn-edit{
    margin: 2px;
}
.btn-log {
    margin: 5px;
    cursor: default;
}
#reportHeader {
    display:inline-block;
    margin-left:10px;
}
#reportTime {
    text-align: right;
    display:inline;
    float:right;
}

#searchBar{
    margin-top: 50px;
 width: 90%;
}

@media print {
    #tableContent {
        margin-top:100px; /* Originally 40px */
    }
    th {
        font-size: .8em;
    }
    #table {
        margin: 10px;
    }
}