.searchForm {
    display:inline;
    width: 150%;
}
form.filter-box input.form-control {
    max-width:150%;
    margin: 10px;
}

/*Change text in autofill textbox
    especially important for clearing modals
 */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
/*!* each search box *!*/
/*.searchForm {*/
    /*display:inline;*/
    /*margin-left: 10px;*/
/*}*/
/*form.filter-box input.form-control {*/
    /*max-width:100%;*/
/*}*/
#table {
    margin-top: 100px; /* Originally no margin. */
    margin-bottom: 20px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    table-layout: fixed;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
/* the table headers */
thead {
    text-transform: capitalize;
    text-decoration: none;
}
td {
    vertical-align: middle !important;
    padding: .5rem !important;
}
#reportButton {
    margin: 25px 10px;
    width: 80%;
    display:block;
    /*float: left;*/
}
<<<<<<< HEAD
#addButton, #reportButton {
    padding-left: 40%;
    padding-right: 40%;
    /*margin: 10px;*/
=======
#addButton {
    margin: 10px;
    width: 80%;
    display:block;
    float: left;
>>>>>>> 356c56d77672a98a29db5ddf05fd75132576a7f0
}
.btn-delete, .btn-edit{
    margin: 2px;
}
.btn-log {
    margin: 5px;
    cursor: default;
}
#reportHeader {
    display:inline-block;
    margin-left:10px;
}
#reportTime {
    text-align: right;
    display:inline;
    float:right;
}

#searchBar{
 width: 90%;
}

@media print {
    #tableContent {
        margin-top:100px; /* Originally 40px */
    }
    th {
        font-size: .8em;
    }
    #table {
        margin: 10px;
    }
}