.searchForm {
    display:inline;
    width: 150%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

#table {
    margin: auto;
    z-index: 1;
    width: 93%;
    table-layout: fixed;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    display:block;
}
/* the table headers */
thead {
    text-transform: capitalize;
    text-decoration: none;
}
tbody {
    display:block;
    max-height:65vh;
    overflow-y:auto;
    overflow-x:hidden;
    width: 100%;

 }
tbody tr {
    width:100%;
}
thead, tbody tr {
    display: table;
    table-layout: fixed;
}
td {
    vertical-align: middle !important;
    padding: .5rem !important;
}
#reportButton {
    margin-top: 30px;
    margin-left: 20px;
    width: 80%;
    display:block;
    float: left;
    padding-right: 40px;
}
#addButton {
    margin-top: 70px;
    margin-left: 20px;
    width: 80%;
    display:block;
    float: left;
}
.btn-delete, .btn-edit, .btn-log, .btn-report{
    margin: 2px;
}
#reportHeader {
    display:inline-block;
    margin-left:10px;
}
#reportTime {
    text-align: right;
    display:inline;
    float:right;
}

#searchBar{
    margin-top: 50px;
    width: 90%;
}
#list form button.active {
    background-color: #01b7ff;
}
/* izitoast expanded section*/
#references {
    display:none;
    overflow-y:auto;
    max-height:50vh;
}
/* scrollbar styling inside the izi toasts*/
#references::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(245, 245, 245,0.4);
}
#references::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}
#references::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/* page selector */
#pagesForm {
    display: flex;
    margin-top: 15px;
    margin-right: 1em;
}
/* page selector and results per page form */
#pagesForm *.form-control {
    width: inherit !important;
}
#pagesForm label {
    display: flex;
    align-items: center;
    margin: 0 1em 2em 1em;
}
/* loading spinner */
#spinner {
    width: 40px;
    height: 40px;
    background-color: rgb(134, 137, 142);
    position: fixed;
    /* center on page */
    left: 50%;
    top: 50%;
    margin-top: -40px;
    margin-left: -80px;

    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}
@media print {
    #tableContent {
        margin-top:10px;
    }
    th {
        font-size: .8em;
    }
    #table {
        margin: 10px;
        display: table;
    }
    thead {
        display: table-header-group;
    }
    tbody {
        display: table-row-group;
    }
    tbody tr {
        display: table-row;
    }
}