/*!* the search icon within each box *!*/
/*.search-button*/
/*{*/
    /*display: inline-block;*/
    /*width: 16px;*/
    /*height: 16px;*/
    /*position: relative;*/
    /*left: -32px;*/
    /*color: rgba(0, 0, 0, 0.33);*/
    /*display: none;*/
/*}*/

/* each search box */
.searchForm {
    display:inline;
}
form.filter-box input.form-control {
    max-width:100%;
}

/*Change text in autofill textbox
    especially important for clearing modals
 */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
/*!* each search box *!*/
/*.searchForm {*/
    /*display:inline;*/
    /*margin-left: 10px;*/
/*}*/
/*form.filter-box input.form-control {*/
    /*max-width:100%;*/
/*}*/
#table {
    margin-top: 100px; /* Originally no margin. */
    margin-bottom: 20px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    table-layout: fixed;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
/* the table headers */
thead {
    text-transform: capitalize;
    text-decoration: none;
}
td {
    vertical-align: middle !important;
    padding: .5rem !important;
}
#reportButton {
    float:right;
}
#addButton, #reportButton {
    padding-left: 40%;
    padding-right: 40%;
    /*margin: 10px;*/
}
.btn-delete, .btn-edit{
    margin: 2px;
}
.btn-log {
    margin: 5px;
    cursor: default;
}
#dropdown_button {
    margin: 5px;
}
#reportHeader {
    display:inline-block;
    margin-left:10px;
}
#reportTime {
    text-align: right;
    display:inline;
    float:right;
}
@media print {
    #tableContent {
        margin-top:100px; /* Originally 40px */
    }
    th {
        font-size: .8em;
    }
    #table {
        margin: 10px;
    }
}